background-image(urla)
	background-image url(../img/urla)

body
	font-family 'Istok Web'

.qwe
	size 200px
	background #000
	border-radius 5px
	font-size 30px
	background-image 'qwe.jpg'
	background linear-gradient(
		to top,
		#fff 0%,
		#000 100%)
h1
	font-size 29px