// choose grid type
grid-type = inline // inline | float | flex

// we keep our variables and placeholsers in here
@import 'variables'

// here are settings for widths
@import 'width-settings'

// and that is what makes grids
@import 'grid-maker'