$column
	box-sizing border-box
	position relative
	min-height 1px

$disp-none
	display none

$bxb
	box-sizing border-box

$clearfix
	&:before
	&:after
		display table
		content ''

	&:after
		clear both

$row
	if (grid-type == inline)
		font-size 0
		
	if (grid-type == float)
		@extend $clearfix
		
	if (grid-type == flex)
		display flex
		flex-wrap wrap
		flex 0 1 auto
		flex-direction row

.container
	margin-left auto
	margin-right auto
	position relative