widths = {
	md: {
		prefix: md
		min-screen: 0
		container-width: 994px
		container-padding: 10px
		column-padding: 10px
		column-number: 12
	},
	lg: {
		prefix: lg
		min-screen: 1280px
		container-width: 1250px
		container-padding: 10px
		column-padding: 10px
		column-number: 12
	},
	xl: {
		prefix: xl
		min-screen: 1920px
		container-width: 1890px
		container-padding: 10px
		column-padding: 10px
		column-number: 12
	},
}