h1
h2
h3
	margin 0

p
	margin 0

ul
	margin 0
	padding 0

a
	text-decoration none

blockquote
	margin 0

*
*:before
*:after
	box-sizing border-box

input
textarea
	&::-ms-clear
		display none

$btn-reset
	padding 0
	border none
	background none

$textarea-reset
	padding 0
	border none
	background none

$font-reset
	font-size 0
	line-height 0