<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="css/style.css")
	body
		h1 some shit here

		include blocks/block1/qwe

		script(src='js/main.js')